In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('water_potability.csv')
df.head()

         ph    Hardness        Solids  ...  Trihalomethanes  Turbidity  Potability
0       NaN  204.890455  20791.318981  ...        86.990970   2.963135           0
1  3.716080  129.422921  18630.057858  ...        56.329076   4.500656           0
2  8.099124  224.236259  19909.541732  ...        66.420093   3.055934           0
3  8.316766  214.373394  22018.417441  ...       100.341674   4.628771           0
4  9.092223  181.101509  17978.986339  ...        31.997993   4.075075           0

[5 rows x 10 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2785 non-null   float64
 1   Hardness         3276 non-null   float64
 2   Solids           3276 non-null   float64
 3   Chloramines      3276 non-null   float64
 4   Sulfate          2495 non-null   float64
 5   Conductivity     3276 non-null   float64
 6   Organic_carbon   3276 non-null   float64
 7   Trihalomethanes  3114 non-null   float64
 8   Turbidity        3276 non-null   float64
 9   Potability       3276 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 256.1 KB

In [4]:
df.fillna(df.mean(),inplace=True)

In [5]:
df.isnull().sum()

ph                 0
Hardness           0
Solids             0
Chloramines        0
Sulfate            0
Conductivity       0
Organic_carbon     0
Trihalomethanes    0
Turbidity          0
Potability         0
dtype: int64

In [6]:
x=df.iloc[:,[0,1,2,3,4,5,6,7,8,]].values
x=np.asarray(x).astype('float32')

In [7]:
y=df.iloc[:,9].values

In [8]:
from tensorflow import keras
#define
model = keras.Sequential([
    keras.layers.Flatten(input_shape=[9]),
    keras.layers.Dense(units=200,activation='relu'),
    keras.layers.Dense(units=100,activation='relu'),
    keras.layers.Dense(units=50,activation='relu'),
    keras.layers.Dense(units=10,activation='relu'),
    keras.layers.Dense(units=2,activation='sigmoid')
])

In [9]:
# compile the keras model
#compile
model.compile(loss = keras.losses.SparseCategoricalCrossentropy(),
             optimizer = keras.optimizers.Adam(),
             metrics = ['acc'])

In [ ]:
# fit the keras model on the dataset
model.fit(x, y, epochs=150, batch_size=10)